<p>playground works!</p>

<input [(ngModel)]="animeSearchInput" (ngModelChange)="searchInputChange(animeSearchInput)">

<div>
    <div *ngFor="let anime of animeSearchResults$ | async">
        {{anime.title}} <a href="javascript:" (click)="selectAnime(anime)">选择</a>
    </div>
</div>

<div *ngIf="selectedAnime">
    已选择： <a [href]="selectedAnime.watchUrl"> {{selectedAnime.title }}</a>
</div>

<hr>

<div id="relation">
    <div *ngFor="let cvRelation of appsvc.relations$ | async">
        <hr>
        <div> 角色：{{cvRelation.character}} ；CV: {{cvRelation.cvname}}. 关联： {{cvRelation.relations.length}} </div>

        <div class="relation-list">
            <div *ngFor="let r of cvRelation.relations" class="relation-item">
                {{r.character}} in <a [href]="r.animePlayUrl">{{r.animeTitle }}</a>
            </div>
        </div>
    </div>
</div>

<textarea [(ngModel)]="importerInput" rows="20" style="width: 30%;"></textarea>

<button (click)="importWatched()">导入</button>

<div id="watchedList">
    <div *ngFor="let anime of appsvc.watchedAnime$ | async">
        <a [href]="anime.watchUrl" target="_blank"> {{anime.title}} </a>
    </div>

</div>